<link rel="stylesheet" href="/css/styles.css">
<h2>Welcome to EasySchool Management System!</h2>

<article>
<p>
The national average public school student size is approximately 514 students.
With an average student–teacher ratio of 10:1 indicates that there are about 50 to 60 teachers in <br>
each school and about 42 academic classrooms and 12 science classrooms/labs. Our EasySchool website will help admins to manage Students, Teachers, Courses and Classrooms.
</p>
</article>

<hr>
<h2>Tables:</h2>

<h4>
    <a href="/students">Students</a>
</h4>
<hr>

<h4>
    <a href="/teachers">Teachers</a>
</h4>
<hr>

<h4>
    <a href="/courses">Courses</a>
</h4>
<hr>

<h4>
    <a href="/classrooms">Classrooms</a>
</h4>
<hr>

<h4>
    <a href="/studentcourses">StudentCourses</a>
</h4>



